
html,
body,
#root,
.app,
.content {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  display: flex;
  position: relative;
}

.bars{
  display: flex;
}

.sidebar{
  height: 100vh;
}



.topbarWrapper{
  width: 100%;
}

.sidebarWrapper{
  height: 100%;
  
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}

